<link href="~/Content/OutfitStyle.css" rel="stylesheet" />


@model IEnumerable<WardrobeApp_AH.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Outfits</h2>



@foreach (var item in Model)
{
    <div class="thumbnail">



        <img src="@Html.DisplayFor(modelItem => item.Accessory.AccessoryPhoto)" />

        <img src=" @Html.DisplayFor(modelItem => item.Bottom.BottomPhoto)" />

        <img src=" @Html.DisplayFor(modelItem => item.Shoe.ShoePhoto)" />

        <img src="  @Html.DisplayFor(modelItem => item.Top.TopPhoto) " />


        @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }) |
        @Html.ActionLink("Details", "Details", new { id = item.OutfitID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })

    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

